// Import page-specific CSS files here.
@import "home";
@import "meals";

.pipoup {
  background-color: white;
  border-radius: 15px;
  border-color: yellow;
  color: black;
}

.pipoup:hover {
  color: yellow;
  border-color: black;
  background-color: black;
}
